<!DOCTYPE html>
<div>
    <div class="centered">
        <h1 class="title">{{status.currentSession}}</h1>
    </div>
    <hr>
    <div class="mainScoreBoard" ng-show="showMain()">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Rank</th>
                    <th>Team</th>
                    <th>Best Round Time</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="record in status.currentBoard">
                    <td>{{record.position}}</td>
                    <td>{{record.team}}</td>
                    <td>{{record.duration}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>


    <div class="ongoingRun" ng-show="showOngoing()">

        <div class="row">
            <div class="col-lg-3 centered clock">
                <h1>Round: {{currentRoundElapsed | number: 3}}</h1>
            </div>
            <div class="col-lg-6 centered">
                <h1 class="big">{{status.recentRunInfo.team}}</h1>
            </div>
            <div class="col-lg-3 centered clock">
                <h1>Run: {{currentRunElapsed | number: 3}}</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 centered">
                <h1 class="big">Rank: {{status.recentRunInfo.bestOfThisTeam.position}}</h1>
            </div>
            <div class="col-lg-6 centered">
                <h1 class="big">Best: {{status.recentRunInfo.bestOfThisTeam.duration / 1000.0 | number: 3}}</h1>
            </div>
        </div>

        <hr>


        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Recent Round Times</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="record in status.recentRunInfo.currentRunResults">
                    <td>{{record.duration}}</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="row" ng-show="status.recentRunInfo.nextBest">
            <div class="col-lg-6 centered">
                <h1 class="notsobig">Next best: {{status.recentRunInfo.nextBest.team}}</h1>
            </div>
            <div class="col-lg-6 centered">
                <h1 class="notsobig">with: {{status.recentRunInfo.nextBest.duration / 1000.0 | number: 3 }}</h1>
            </div>
        </div>

        <div class="row" ng-show="status.bestOfSession">
            <div class="col-lg-6 centered">
                <h1 class="notsobig">Very best: {{status.bestOfSession.team}}</h1>
            </div>
            <div class="col-lg-6 centered">
                <h1 class="notsobig">with: {{status.bestOfSession.duration / 1000.0 | number: 3 }}</h1>
            </div>
        </div>


    </div>
</div>