<!DOCTYPE html>
<div>
    <h1 class="title">{{status.name}}</h1>

    <div class="mainScoreBoard" ng-show="showMain()">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Position</th>
                    <th>Team</th>
                    <th>Best Round Time</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="record in status.currentBoard">
                    <td>{{record.position}}</td>
                    <td>{{record.team}}</td>
                    <td>{{record.duration}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>


    <div class="ongoingRun" ng-show="showOngoing()">

        <div class="h4">{{status.recentRunInfo.team}}: most recent rounds</div>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>RoundTime</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="record in status.recentRunInfo.currentRunResults">
                    <td>{{record.duration}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    </html>
