<!DOCTYPE html>
<div>
    <h1 class="title">{{status.name}} - {{status.currentSession}}</h1>

    <div class="mainScoreBoard" ng-show="showMain()">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Position</th>
                    <th>Team</th>
                    <th>Best Round Time</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="record in status.currentBoard">
                    <td>{{record.position}}</td>
                    <td>{{record.team}}</td>
                    <td>{{record.duration}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>


    <div class="ongoingRun" ng-show="showOngoing()">

        <div>
            <h3>Round Elapsed: {{currentRoundElapsed | number: 3}}</h3>
            <h3>Run Elapsed: {{currentRunElapsed | number: 3}}</h3>
        </div>

        <div>
            <h3>Current Position: {{status.recentRunInfo.bestOfThisTeam.position}} with {{status.recentRunInfo.bestOfThisTeam.duration / 1000.0 | number: 3}}</h3>
        </div>

        <div class="h3">{{status.recentRunInfo.team}}</div>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>RoundTime</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="record in status.recentRunInfo.currentRunResults">
                    <td>{{record.duration}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    </html>
