<div>

    <h2>Schedule: {{competition.name}}, {{session.type}} No. {{session.seqNo}}</h2>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Team</th>
                    <th>scheduled start</th>
                    <th>actual start</th>
                    <th>status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="run in runs">
                    <td>{{run.team}}</td>
                    <td>{{run.scheduledStartDate}}</td>
                    <td>{{run.startDate}}</td>
                    <td>{{run.status}}</td>
                    <td>
                        <button type="submit" ng-click="startRun(run)"
                                ng-hide="run.status==='ONGOING'"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span>Start</span>
                        </button>
                        <button type="submit" ng-click="stopRun(run)"
                                ng-show="run.status==='ONGOING'"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span>Stop</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
